#container{
    height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.left{
    height: 400px;
    width : 15%;
    float: left;
    
}
.right{
    height: 400px;
    width: 85%;
    float: left;
   
}