

<!-- <div class="container-fluid">
	<div class="row bg-light">
 
        <div class="card" style="width: 30rem;" *ngFor="let a of ticketData">

        <div class="card-body">
          <p class="card-title">Air Name : {{a.airname}}
          <p class="card-text">Destination : {{a.from}} to {{a.to}}
            <p class="card-text">Category : {{a.class}}
            <p class="card-text">Price : {{a.price * a.seats}}
            <p class="card-text">Date : {{a.date}} 
            <p class="card-text">Ticket Number : {{a.seatNumber}}   
              
          </p>
          
        </div>
      </div>
	</div>
</div> -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!--Author      : @arboshiki-->


<div id="invoice">  
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
           
            <main>
              <header>
                
                <div class="row">
                    <!-- <div class="col">
                        <a target="_blank" href="https://lobianijs.com">
                            <img src="http://lobianijs.com/lobiadmin/version/1.0/ajax/img/logo/lobiadmin-logo-text-64.png" data-holder-rendered="true" />
                            </a>
                    </div> -->
                    <a class="navbar-brand" href="#">
                      <img src="assets/Images/Logo.png" alt="logo" style="width:120px;
                      height: 80px;">
                    </a>

                    <div class="col company-details">
                        <h2 class="name">
                            <a target="_blank" href="https://lobianijs.com">
                            Safayet Ullah
                            </a>
                        </h2>
                        <div>455 Foggy Heights, AZ 85004, US</div>
                        <div>(123) 456-789</div>
                        <div>safayet@example.com</div>
                    </div>
                </div>
            </header>
           
              
                <div class="card" style="width: 32rem;" *ngFor="let a of ticketData">
                  <div class="card-body">
                    <p class="card-title"> <strong> Air Name : {{a.airname}}</strong>
                    <p class="card-text"><strong>Destination : {{a.from}} to {{a.to}}</strong>
                      <p class="card-text"><strong>Category : {{a.class}}</strong>
                      <p class="card-text"><strong>Total Price : {{a.price * a.seats}}</strong>
                      <p class="card-text"><strong>Date : {{a.date}} </strong>
                      <p class="card-text"><strong>Ticket Number : {{a.seatNumber}}  </strong>                        
                    </p>                   
                  </div>
                </div>
             

               
                <div class="toolbar hidden-print">
                  <div class="text-right">
                    <button onclick="window.print()" class="btn btn-info">Print this page</button>
                      
                      <button class="btn btn-info" ><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
                  </div>
                  <hr>
              </div>
            </main>
            
        </div>
        
        
    </div>
    
</div>

<!-- <script>

$('#printInvoice').click(function(){
            Popup($('.invoice')[0].outerHTML);
            function Popup(data) 
            {
                window.print();
                return true;
            }
        });
</script> -->