<section class="banner">
  <div class="baner-box">
    
    <div class="header">
      <section class="header-section">
        <div class="center-div">
          
          <div class="header-buttons">
      
            <a routerLink="/booknow"  style="font-size: 20px;"> <strong>Book Now</strong> </a><br><br>

            <a routerLink="/ticketdetails"  style="font-size: 15px;"> Invoice </a>
            
          </div>
        </div>
        
      </section>
    </div>
  </div>

  <div class="capture-box">
    <div class="intro-text">
      
    </div>
    <img src="assets/Images/Capture.JPG" alt="body" />
  </div>

  <div class="capture-box">
    <div class="intro-text">
      
    </div>
    <img src="assets/Images/Capture2.JPG" alt="body2" />
  </div>
</section>
